
body{

  background-image: url('../components/images/popcornbgLrg.jpg');
}


h1 {
  font-size: 6rem;
  color:#ffcc66;
  text-align: left;
  margin-left:1cm;
  position: relative;
  top:20px; 
}

header{
  background-color: black;
  margin-bottom:2cm;
  }

h2 {

  color:#ffcc66;
  background-color: black;
  font-size: 3.5rem;
  padding:20px;
}

img.header-logo {
  position: relative;
  top:-20px;
  /* height: 180px; 
  width:280px;  */
}

.movies-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width:82vw;
  padding-top:0px;

  /* Hide scrollbar for Chrome, Safari and Opera*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
/* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.movie-card img {
  /* height:300px; */
  width:200px;
  position: relative;
  left:23px;
  top:100px;
  padding: 10px;

}


div.react-tabs {
  padding:0px 0px 0px 0px;
  position: relative;
  top:20px;
  right:20px;
  left:140px;
  width:86vw;
  background-color: black;
}

ul li{

  text-decoration: underline;
  position: relative;
  top:120px;
  
}

*, ::after, ::before{
  box-sizing: border-box;
  color: #ffcc66;
  border-radius:1%;
}

/* General ul styling */
ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  
}

/* General li styling */
ul li  {
  /* padding:40px; */
  position: relative;
  top:140px;
  right:60px;
  padding: 16px;
  color:#ffcc66;
  font-weight:bolder;
  margin-top: -3cm; 
}

a {
  color: firebrick;
}

/* styling for the top nav */
.nav-link {
  text-decoration: none;
  font-size: 2.5rem;
  color:#ffcc66;
  position: relative;
  top:-150px;
}

/* Styling for the sub menu */
.submenu {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.description {
  /* font-size: 1.25rem; */
  /* max-height: 160px;  */
  font-size: 12px;
  padding: 10px;
  max-height: 100px; 
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.userscore {
  /* font-size: 1.75rem; */
  font-size: 1rem;
  font-weight: bolder;
  min-height:100px;
  max-width: 100px;
  color:firebrick;
  position: relative;
  top:-320px;
  left:48px;
  padding-left: 12px;
  padding-bottom: 20px;
 
}

.user-icon {
  position:relative;
  left:30px;
  /* top:100px; */
  width: 70px;
}

p .about {
  background-color: black;
  max-height: 700px;
  font-size: 2rem;
  color:#ffcc66;
  padding:60px 100px 20px 100px;
  /* max-width:1600px */
}

.score {
  font-size: 2rem;
  position: relative;
  left:0px;
  top:60px;
}

.more-info {
  background-image: url('../components/images/popcornbgLrg.jpg');
  position: relative;
  left:50px;
  bottom:10px;
  color:black;
  font-weight: bolder;
}

.about{
  color:antiquewhite;
  background-color: black;
  padding: 30px;
  font-size: 1.75rem;

}

.tmdb {
  height:20px;
  width:600px;
  opacity: 50%;
  position: relative;
  left:-260px;
  
}

.logo-about{
  height:100px;
  width:auto;
  position: relative;
  left:650px;
  top:-70px;
}

p .aboutLogo {
  font-size: 3rem;
  position: relative;
  top:20px;
  left:300px;

}

.about-secondary {
  color:#01b4e4;
  position: relative;
  top:40px;
  left:440px;
  font-size: 1rem;
}

.about-body {
  max-width: 75vw;
  position: relative;
  left:250px;
  top:100px;

}

/* Favorites */

.page-favs{
  background-color: black;
  position: relative;
  left: 240px;
  top: 150px;
  max-width: 75vw;
}

.favs-title{
text-decoration: underline red;

}

.favs-error{
  color:antiquewhite;
  font-size: 1.5rem;
  padding: 20px;

}

/* Favorites Button */
#addFav,
#delFav,
#addFavBtn,
#delFavBtn {
  width: 45px;
}

.more-info-pic {
    max-width: 300px;
    height:200px;
}

.more{
    background-color: black;
}


.movie-card-content {
  padding: 2rem;
}

.hover-overlay {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.release-date {
  font-size: 12px;
  margin: 0;
}

#movie-description {
  font-size: 11px;
}

.more-info-btn {
  color: black;
  font-weight: 700;
  font-size: 12px;
  border: none;
  padding: .2rem .4rem;
  
}

.hover-userscore:before {
  background-color: red;
}