ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    
}

ul li {
    padding:20px;
    color:antiquewhite;
    font-weight:bolder;
    font-size: 2.5rem;
    /* margin-bottom: 1cm; */
    margin-top: -3cm;
    
}

.nav-link {
    text-decoration: none;
  }

.search {
    font-size: 1.25rem;
    margin-top: -2cm;
    padding-right: 20px;
}
